body{
  margin: 0;
}
.board {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 300px;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
}
.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
  border-top: none;
}
.cell:first-child,
.cell:nth-child(4),
.cell:nth-child(7) {
  border-left: none;
}
.cell:nth-child(3),
.cell:nth-child(6),
.cell:nth-child(9) {
  border-right: none;
}
.cell:nth-child(7),
.cell:nth-child(8),
.cell:nth-child(9) {
  border-bottom: none;
}

.cell.x,
.cell.circle {
  cursor: not-allowed;
}

.cell.x::before,
.cell.circle::before {
  color: black;
}

.board.x .cell:not(.x).cell:not(.circle):hover::before,
.board.circle .cell:not(.x).cell:not(.circle):hover::before {
  color: gray;
}

.cell.x::before,
.board.x .cell:not(.x).cell:not(.circle):hover::before {
  position: absolute;
  content: "X";
  font-family: "sans-serif";
  font-size: 70px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cell.circle::before,
.board.circle .cell:not(.x).cell:not(.circle):hover::before {
  position: absolute;
  content: "O";
  font-family: "sans-serif";
  font-size: 70px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}

.winning-message {
  height: 100vh;
  width: 100vw;
  background-color: black;
  opacity: 0.9;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.show {
  display: flex;
}
#restartButton {
  height: 40px;
  width: 100px;
  font-size: 20px;
  border-radius: 10px;
  background-color: black;
  color: white;
}
#restartButton:hover {
  border: 1px solid white;
}
.message-text {
  color: white;
  font-size: 50px;
  margin-bottom: 20px;
}